<h1>Forgot your password?</h1>
<%= form_tag password_resets_path, :method => :post do %>
    <div class="main_div">
      <table>
        <tr>
          <td colspan="2" style="width: 125px; vertical-align: middle">
            <h5>To reset your password, type the full email address associated with your account.</h5>
          </td>
        </tr>
        <tr>
          <td style="width: 50px; vertical-align: middle">
            <%= label_tag :email %>:
          </td>
          <td>
            <div class="field">
              <%= text_field_tag :email %>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="right_div"><%= submit_tag "Submit" %></div>
<% end %>