<%= form_tag password_resets_path, :method => :post do %>

<h3>Forgot your password?</h3>

To reset your password, type the full email address associated with your account.

    <br/>
    <br/>

  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %> <%= submit_tag "Submit" %>
  </div>
<% end %>