</br>
</br>

<div hidden=true>
   <%for s in Category.all
        for suite in s.products%>
          <%=suite.name%>,
           <%if(suite.valuefields[0].fieldvalue == "true")%>
              true,
           <%else%>
              false,
            <%end%>
   <%end end%>
          </div>

<%i = 0
for s in Category.all
   for suite in s.products
    if( i % 5 == 0)%>
        </br>
    <%end

        i = i + 1%>
        <%= check_box_tag suite.name, suite.name, suite.valuefields[0].fieldvalue == "true" ? true : false%>  <%=suite.name%>
        <%end%>
<%end%>

<script type="text/javascript">
    jQuery(function($) {

        $('input').click(function(){
            $.get("/sessions/update_minto", {id: $(this)[0].name, checked: $(this)[0].checked}, null, 'script');
        });


    });


</script>