
<div hidden=true>
   <%for s in Category.all
       if(s.name == "Minto")
        for suite in s.products%>
          <%=suite.name%>,
          <%for vf in suite.valuefields
              if(vf.property.name == "Availability")%>
                  <%=vf.fieldvalue%>,
              <%end
          end%>

          <%for vf in suite.valuefields
              if(vf.property.name == "Price")%>
                  <%=vf.fieldvalue%>,
              <%end
          end%>

          <%for vf in suite.valuefields
              if(vf.property.name == "Premium")%>
                  <%=vf.fieldvalue%>,
              <%end
          end
        end
       end
   end%>
</div>