<!--Component Show Page -->
<div>
  <table class="tight_table">
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Code</th>
    </tr>
    <tr>
      <td><%= @component.name %></td>
      <td><%= @component.description %></td>
      <td><%= @component.code %></td>
    </tr>
  </table>
</div>

