<h1>Editing Component</h1>
<table>
  <tr>
    <td>
       <%= button_to "Show Component", {:action => "show", :id => @component.id }, :method => :get %>
    </td>
  </tr>
</table>
<%= render 'form' %>