
<!--Button to create a new component -->
<%= button_to "New " + @component_alias, new_component_path, :method => :get %>  <br/><br/><br/>

<!--Components Index Page - uses application.html.erb for template. -->
<h1>Listing <%= @component_alias %></h1>

 <div class="main_div">
<!--if components available print rows and data -->
<%if(!@all_components.empty?)    %>
       <table id="t1" class="example table-autosort table-autofilter table-autopage:10 table-stripeclass:alternate table-page-number:t1page table-page-count:t1pages table-filtered-rowcount:t1filtercount table-rowcount:t1allcount">

        <tr>
            <th align="left" class="table-filterable table-sortable:default">Name</th>
            <th align="left">Description</th>
            <th align="left">Actions</th>
        </tr>
        <%
        for comp in @all_components
            if(comp.component_parents.empty?) #TODO: performance improvement if root component can be known this loop is not required
                #Call to function to print all components in the database - function/method found in components_helper.rb
                %><%=print_components(comp, 0).html_safe%><%
            end
        end
else%>
        <tr><td><h4>No <%= @component_alias %> Available</h4></td></tr>
<%end%>
</table>
   </div>
<br class="clear" />