<h1>Listing components</h1>
<%if(@all_components.length > 0)    %>
<table>
  <tr>
    <th align="left">Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%

           for comp in @all_components.sort!
               if(comp.component_parents.length == 0)
                print_components(comp, 0)
               end
     end

    %>
  <%= @sc.html_safe %>
</table>
<%else%>
    <br/>No Components Available
<%end%>
<p />

<%= button_to "New Component", new_component_path, :method => :get %>
<br />
<%= button_to "Back to Main Menu", "/", :method => :get %>