
<!--Button to create a new component -->
<%= button_to "New Component", new_component_path, :method => :get %>  <br/><br/><br/>

<!--Components Index Page - uses application.html.erb for template. -->
<h1>Listing Components</h1>

 <div class="main_div">
<!--if components available print rows and data -->
<%if(!@all_components.empty?)    %>
    <table title="Current Components">
        <tr>
            <th align="left">Name</th>
            <th align="left">Description</th>
            <th align="left">Actions</th>
        </tr>
        <%
        for comp in @all_components
            if(comp.component_parents.empty?) #TODO: performance improvement if root component can be known this loop is not required
                #Call to function to print all components in the database - function/method found in components_helper.rb
                %><%=print_components(comp, 0).html_safe%><%
            end
        end
else%>
        <tr><td><h4>No Components Available</h4></td></tr>
<%end%>
</table>
   </div>
<br class="clear" />