<h1>Listing components</h1>

<table>
  <tr>
    <th align="left">Name</th>
    <!--<th>Description</th>
    <th>Parent</th>-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%print_components(0,0)%>
  <%= @sc.html_safe %>
</table>

<br />

<%= button_to "New Component", new_component_path, :method => :get %>