<h1>Listing attributes</h1>

<table>
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

 <% print_attributes %>
  <%= @sa.html_safe %>
</table>

<br />

<%= button_to "New Attribute", new_attribute_path, :method => :get %>
