<!DOCTYPE html>
<head>
    <title>Welcome aboard</title>
    <link href="/assets/blueprint/screen.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/blueprint/print.css?body=1" media="print" rel="stylesheet" type="text/css" />
    <link href="/assets/blueprint/custom.scss.erb?body=1" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
    <% menu = ["Categories", "Products", "Groups", "Components", "Properties", "ValueFields", "Validations", "Images", "Data_Files", "tabs"] %>
    <h1>MAIN MENU</h1>
    <table class="main_table">
        <tr>
            <th>Navigation</th>
        </tr>
      <% for m in menu %>
        <tr>
            <td>
                <a href="<%= m.downcase %>/"><%= m %></a>
            </td>
        </tr>
      <%end%>
    </table>
</div>
</body>