<h1>Tabs Page</h1>

<table>
  <tr>
    <td width="15%">

<%= full_tree.html_safe %>



    </td>
    <td width="85%">
       <div class="tabs">
      <ul>
        <li><a href="#first">Category</a></li>
        <li><a href="#second">Product</a></li>
        <li><a href="#third">Group</a></li>
        <li><a href="">Component</a></li>
        <li><a href="">Property</a></li>
        <li><a href="">Value Field</a></li>
        <li><a href="">Image</a></li>
        <li><a href="">Data File</a></li>
      </ul>


      <div>
        <div id="categories"><%= render "categories/new"%></div>
        <div><h1>Product Information</h1></div>
        <div><h1>Group Information</h1></div>


        <div><h1>Component Information</h1>

          <div class="tabs">
              <ul>
                <li><a href="">Child 1</a></li>
                <li><a href="">Child 2</a></li>
              </ul>
              <div>
                <div><h1>Child 1 Information</h1></div>
                <div><h1>Child 2 Information</h1></div>
              </div>
            </div>


        </div>



        <div><h1>Property Information</h1></div>
        <div><h1>Value Information</h1></div>
        <div><h1>Image Information</h1></div>
        <div><h1>Data File Information</h1></div>
      </div>
  </div>
    </td>
  </tr>
</table>




<script type="text/javascript">

    jQuery(function($) {

        $('#new_category')[0].setAttribute("data-remote", "true");

        $('#a<%=Category.all[0].id%>').click(children());



    });

        function children(parent){
           $.get("admin/tree", {id: $(parent).attr('id')}, null, 'script');
        }
</script>

