<div class="apple_overlay" id="overlay"></div>

<%if(!@product.nil?)%>
    <%= render("admin/products_tabs") %>
<%else%>
    <%= render("admin/component_tab_root") %>
<%end%>

<script type="text/javascript">
    jQuery(function($) {
        /* Begin Javascript to control clicking on new/add tabs */
        //Components - New
        //Sets the click function based on "a" tag with class "new_component"
        $('a.new_component').live('click', function(){
            //Sets container to the closest "div" with class "tabs2"
            container = $(this).closest('div.tabs2').find('div.new_component_container:first');
            //adds a class to the container
            container.addClass("new_component_container");
            //Sets the parent based on the closest "div" with class "inner_container" using the "id" attribute
            parent_id = $(this).closest('.inner_container').attr('id');
            //gets the js file matching "load_new_component_page" and passes the parent
            $.get("/admin/load_new_component_page", {parent_id: parent_id}, null, 'script');
        });
        //Components - Add
        //Sets the click function based on "a" tag with class "add_component"
        $('a.add_component').live('click', function(){
           //Sets container to the closes "div" with class "tabs2"
           container = $(this).closest('div.tabs2').find('div.add_component_container:first');
           //adds a class to the container
           container.addClass("add_component_container2");
           //Sets the parent based on the closest "div" with class "inner_container" using the "id" attribute
           parent_id = $(this).closest('.inner_container').attr('id');
           //gets the js file matching "load_add_component_page" and passes the parent
           $.get("/admin/load_add_component_page", {parent_id: parent_id}, null, 'script');
        });

        //Images - New
        $('a.new_image').live('click', function(){
            container = $(this).closest('div.tabs2').find('div.new_image_container:first');
            container.addClass("new_image_container2");
            parent_id = $(this).closest('.inner_container').attr('id');
            $.get("/admin/load_new_image_page", {parent_id: parent_id}, null, 'script');
        });
        //Images - Add
        $('a.add_image').live('click', function(){
           container = $(this).closest('div.tabs2').find('div.add_image_container:first');
           container.addClass("add_image_container2");
           parent_id = $(this).closest('.inner_container').attr('id');
           $.get("/admin/load_add_image_page", {parent_id: parent_id}, null, 'script');
        });

        //Valuefields - New
        $('a.new_vf').live('click', function(){
            container = $(this).closest('div.tabs2').find('div.new_vf_container:first');
            container.addClass("new_vf_container2");
            parent_id = $(this).closest('.inner_container').attr('id');
            $.get("/admin/load_new_vf_page", {parent_id: parent_id}, null, 'script');
        });
        //Valuefields - Add
        $('a.add_vf').live('click', function(){
            container = $(this).closest('div.tabs2').find('div.add_vf_container:first');
            container.addClass("add_vf_container2");
            parent_id = $(this).closest('.inner_container').attr('id');
            $.get("/admin/load_add_vf_page", {parent_id: parent_id}, null, 'script');
        });

        //Data Files - New
        $('a.new_df').live('click', function(){
            container = $(this).closest('div.tabs2').find('div.new_df_container:first');
            container.addClass("new_df_container2");
            parent_id = $(this).closest('.inner_container').attr('id');
            $.get("/admin/load_new_df_page", {parent_id: parent_id}, null, 'script');
        });
        //Data Files - Add
        $('a.add_df').live('click', function(){
            container = $(this).closest('div.tabs2').find('div.add_df_container:first');
            container.addClass("add_df_container2");
            parent_id = $(this).closest('.inner_container').attr('id');
            $.get("/admin/load_add_df_page", {parent_id: parent_id}, null, 'script');
        });

        //EDIT CLICK FUNCTIONS
        $("a.edit_vf").click(function(){
            $.get("/admin/load_edit_vf_page", {valuefield_id: $(this).attr("id")}, null, 'script');
        });

        /* End Javascript to control clicking on new/add tabs */


        $('.inner_container:first').css("overflow-x" ,"hidden");
        $('.inner_container:first').css("overflow-y", "scroll");


        $('div.tabs2 > ul > li > a').live('click',function () {

            if($(this).attr("href") != ""){
                $('#'+$(this).attr("href")).html("");
                $.get("/admin/load_component_tab", {item: $(this).attr("href")}, null, 'script');

            }

            return false;
        });

        $('a[title="Open in new window"]:first').remove();

        $('a.tab_title').live('click',expandColapseSection);
        $('.inner_container').scroll(moveULs);
        $('.tabs > ul > li > a').live('click', function(){
            moveULs();
            $(document).find('div.inner_container').filter(function(){return $(this).width()>0;}).each(function(){
                adjustWidth($(this), false, false)
            });
            enableMinimizers();
        });

        setUpSliders();
        adjustWidth($('div.tabs2  div.inner_container'), true, false);
        setUpPopUp();
        cleanUp($('.inner_container:first'));
    });

    //sets up the pop up overlay for each edit button
    function setUpPopUp(){
         // setup triggers

	$("a.overlay").each(function(i) {
		$(this).overlay({
			// common configuration for each overlay
			oneInstance: false,
			closeOnClick: true,

			// setup custom finish position
			//top: positions[i][0],
			//left: positions[i][1],

			// use apple effect
			mask: 'lightblue',
            effect: 'apple'

            /*onBeforeLoad: function() {

                // grab wrapper element inside content
                var wrap = this.getOverlay().find(".contentWrap");

                // load the page specified in the trigger
                wrap.load(this.getTrigger().attr("href"));
            } */
		});
	});
    }

    function expandColapseSection(){

        if(!$(this).hasClass('enabled'))
            return;

        inner_container = $(this).siblings('.inner_container');

        //minimize
        if($(this).hasClass("tab_title_expanded")){
            $(this).removeClass("tab_title_expanded");
            $(this).addClass("tab_title_minimized");
            $(this).find('img').attr("src", "/assets/Accordian/plus.gif");
            $(this).find('h1').css({fontSize: "150%"});

            inner_container.css("overflow-x" ,"hidden");
            inner_container.css("overflow-y" ,"hidden");
            inner_container.find('div.inner_container:first').parent().parent().children('*').children('div.inner_container').each(function(){
                $(this).css("overflow-x" ,"hidden");
                $(this).css("overflow-y" ,"scroll");
            });


            inner_container.children('div:first').animate({height: 'toggle'});
            inner_container.find('> div.tabs > div').css("border", 0);
            inner_container.find('> div.tabs:first > ul').animate({height: 'toggle'});
            inner_container.find('> div.tabs:first > ul > li').animate({height: 'toggle'});

            //inner_container.find('div.tabs2:first > ul').animate({width: '0'});
            inner_container.find('> div.tabs > div > div > div.tabs2 > ul').css({width: '0'});

            //inner_container.find('div.tabs2:first > div').animate({width: '100%'});
            inner_container.find('> div.tabs > div > div > div.tabs2 > div').css({width: '100%'});

            inner_container.find('> div.tabs > div > div > div.tabs2 > div').css("border-top", 0);
            adjustHeight();
            inner_container.find('.inner_container').filter(function(){return $(this).width() > 0;}).each(function(){
                adjustWidth($(this), false, true);
            });
        }

        //expand
        else{

            $(this).removeClass("tab_title_minimized");
            $(this).addClass("tab_title_expanded");
            $(this).find('img').attr("src", "/assets/Accordian/bigminus.gif");
            $(this).find('h1').css({fontSize: "300%"});

            inner_container.css("overflow-x" ,"hidden");
            inner_container.css("overflow-y" ,"scroll");
            inner_container.find('div.inner_container:first').parent().parent().children('*').children('div.inner_container').each(function(){
                $(this).css("overflow-x" ,"hidden");
                $(this).css("overflow-y" ,"hidden");
            });
            inner_container.find('div.tabs:first > ul > li > a:first ').click();
            inner_container.children('div:first').animate({height: 'toggle'});
            inner_container.find('div.tabs:first > div').css("border", "1px solid #999");
            inner_container.find('div.tabs:first > div').css("border-top", 0);
            inner_container.find('> div.tabs:first > ul').animate({height: 'toggle'});
            inner_container.find('> div.tabs:first > ul > li').animate({height: 'toggle'});

            //inner_container.find('div.tabs2:first > ul').animate({width: 'toggle'});
            inner_container.find('> div.tabs > div > div > div.tabs2 > ul').css("width", '132');

            fullwidth = inner_container.find('div.tabs2:first').width();
            ulWidth = inner_container.find('div.tabs2:first > ul').width();
            inner_container.find('> div.tabs > div > div > div.tabs2 > div').css({width:fullwidth - 132});

            inner_container.find('div.tabs2:first > div').css("border-top", "1px solid #999");
            adjustHeight();
            $('.inner_container').filter(function(){return $(this).width() > 0;}).each(function(){
                adjustWidth($(this), false, false);
            });
        }

        enableMinimizers()


    }

    function setUpSliders(){
        //Expand/Collapse javascript
        $(".content").hide();
        $(".heading").unbind('click');
        //toggle the componenet with class msg_body
        $(".heading").bind("click", function() {
            $(this).next(".content").slideToggle(1200).scroll();
        });
    }

    function cleanUp(pane){

        pane.find('div.tabs, div.tabs2').each(function(){
           $(this).find('ul:first').tabs($(this).find('div:first > div'));
        });

        pane.find(".content").hide();                             //toggle the componenet with class msg_body
        pane.find(".heading").unbind('click');
        pane.find(".heading").click(function() {
            $(this).next(".content").slideToggle(1200).scroll();
        });



        $("html").addClass("js");
        $.fn.accordion.defaults.container = false;
        pane.find(".accordion").accordion();
        $("html").removeClass("js");

        adjustWidth(pane.find('div.tabs2').find('.inner_container:first'), false, false);
        adjustHeight();

        enableMinimizers();


    }

    function enableMinimizers(){

        minimized_sections = $('h1').filter(function(){return $(this).height() > 0 && $(this).parent().hasClass('tab_title_minimized');});
        expanded_sections = $('h1').filter(function(){return $(this).height() > 0 && $(this).parent().hasClass('tab_title_expanded');});


        minimized_sections.each(function(){
            $(this).parent().removeClass('enabled');
            $(this).find('img').attr("src", "/assets/Accordian/plusdisabled.gif");
        });

        expanded_sections.each(function(){
            $(this).parent().removeClass('enabled');
            $(this).find('img').attr("src", "/assets/Accordian/bigminusdisabled.gif");
        });


        minimized_sections.last().each(function(){
            $(this).parent().addClass('enabled');
            $(this).find('img').attr("src", "/assets/Accordian/plus.gif");
        });


        if($('h1').filter(function(){return $(this).height() > 0}).length > 1){
            expanded_sections.first().each(function(){
                $(this).parent().addClass('enabled');
                $(this).find('img').attr("src", "/assets/Accordian/bigminus.gif");
            });
        }

    }

    function adjustHeight(){
       $('.inner_container').each(function(){
           if($(this).css("overflow-y") == "scroll"){
               $(this).css("height", "630");
           }
            else {
               $(this).css("height","100%");
           }
        });
        $('.container').css({height:862});
    }

    function adjustWidth(pane, first, minimizing) {

        tabs = pane.closest('div.tabs2');
        if(tabs == null)
            return;

        tabwidth = Number(tabs.width());
        ulWidth = Number(tabs.children('ul').width());
        if(ulWidth == null)
            ulWidth = 0;

        //ulWidth = 0;
        if(first)
            tabs.find(' > div').width(tabwidth - ulWidth - 15);
        else if(minimizing){
            tabs.find(' > div').width(tabwidth - 134);
            tabs.find(' > div').animate({width: tabwidth});
        }
        else
            tabs.find(' > div').width(tabwidth - ulWidth);

    }



    function moveULs(){

        $(document).find('div.tabs2 > ul').filter(function(){return $(this).height()>0;}).each(function(){

            offset = $(document).find('.inner_container:first').offset().top + 3;
            minimized_count = $(document).find('a.tab_title_expanded:first').parents('.inner_container').length;
            offset += 57 * minimized_count;

            if($(this).height() < $(document).find('a.tab_title_expanded:first').siblings('.inner_container').height() &&  $(this).parent().position().top < offset){
               $(this).css("top", offset);
               $(this).css("position", "fixed");

            } else {
               $(this).css("top", 0);
               $(this).css("position", "");
            }
        });
    }
</script>



