<!--Groups Index Page - uses application.html.erb for template. -->
<h1>Listing Groups</h1>
<!--Button to create a new group -->
<%= button_to 'New Group', new_group_path, :method => :get %>
<!--if length > 0 print groups -->
<%if(!@all_groups.empty?)    %>
    <table title="Current Groups">
        <tr>
            <th align="left">Name</th>
            <th align="left">Actions</th>
            <th align="left">Grouped Components</th>
        </tr>
        <% for group in @all_groups %>
            <!-- Call to function print_groups located in groups_helper.rb -->
            <%= print_groups(group).html_safe %>
        <%end%>
<%else%>
        <tr><td><h4>No Groups Available</h4></td></tr>
<%end%>
</table>
<br class="clear" />
