<p id="notice"><%= notice %></p>
 <h1>Viewing Group</h1>
 <%= button_to "Edit Group", edit_group_path(@group), :method => :get %>
<table>
  <tr>
    <th align="left">Name:</th>
  </tr>
  <tr>
    <td><%= @group.name %></td>
  </tr>
</table>

<h4> Components related to this Group </h4>
<% components = @group.components %>
<table>
  <tr><th>Name</th></tr>
  <% for comp in components %>
    <tr><td><%= link_to(comp.name) %></td></tr>
 <%end%>
</table>
<br class="clear" />