<div>
<table class="tight_table">
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">field type</th>
  </tr>
  <tr>
    <td><%= @property.name %></td>
    <td><%= @property.description %></td>
    <td><%= @property.field_type %></td>
  </tr>
</table>
</div>