<h1>Editing property</h1>

<%= render 'form' %>
 <table>
  <tr>
    <td>
       <%= button_to "Show", {:action => "show", :id => @property.id }, :method => :get %>
    </td>
    <td>
       <%= button_to "Back", properties_path, :method => :get %>
    </td>
  </tr>
</table>