<!--Properties Index Page - uses application.html.erb for template. -->
<h1>Listing Properties</h1>
<!--Button to create a new property -->
<%= button_to "New Property", new_property_path, :method => :get %>

 <!--if length > 0 print properties -->
<%if(@all_properties.length > 0)    %>
    <table title="Current Properties">
        <tr><th colspan="5"><h4>Current Properties</h4></th></tr>
        <tr>
            <th align="left">Name</th>
            <th align="left">Description</th>
            <th align="left">Field Type</th>
            <th align="left">Actions</th>
        </tr>
        <%= print_properties.html_safe %>
<%else%>
        <tr><td><h4>No Properties Available</h4></td></tr>
<%end%>
</table>