<h1 class="tight_h1">Value Field: Show</h1>
<div>
  <table class="tight_table main_table">
    <tr>
      <th align="left">Value</th>
      <th align="left">Code</th>
      <th align="left">Property</th>
    </tr>
    <tr>
      <td><%= valuefield.fieldvalue %></td>
      <td><%= valuefield.code %></td>
      <td><%= Property.find(valuefield.property_id).name %></td>
    </tr>
  </table>
</div>