<div>
<table class="tight_table">
  <tr>
    <th align="left">Value</th>
    <th align="left">Code</th>
    <th align="left">Property</th>
  </tr>
  <tr>
    <td><%= valuefield.fieldvalue %></td>
    <td><%= valuefield.code %></td>
    <td><%= valuefield.property.name %></td>
  </tr>
</table>
    </div>