<div>
<table class="tight_table">
  <tr>
    <th align="left">Value</th>
    <th align="left">Code</th>
  </tr>
  <tr>
    <td><%= @valuefield.fieldvalue %></td>
    <td><%= @valuefield.code %></td>
  </tr>
</table>
    </div>