<h1>Editing valuefield</h1>

<%= render 'form' %>
 <table>
  <tr>
    <td>
       <%= button_to "Show", {:action => "show", :id => @valuefield.id }, :method => :get %>
    </td>
    <td>
       <%= button_to "Back", valuefields_path, :method => :get %>
    </td>
  </tr>
</table>