<!--Properties Index Page - uses application.html.erb for template. -->
<h1>Listing Value Fields</h1>
<!--Button to create a new value field -->
<%= button_to "New Value Field", new_valuefield_path, :method => :get %>
 <!--if length > 0 print field values -->
<%if(@all_valuefields.length > 0)    %>
    <table title="Current Field Values">
        <tr>
            <th align="left">Field Value</th>
            <th align="left">Property</th>
            <th align="left">Actions</th>
            <th align="left">Component or Product</th>
        </tr>
        <%= print_value_fields.html_safe %>
<%else%>
        <tr><td><h4>No Field Values Available</h4></td></tr>
<%end%>
</table>
<br class="clear" />