<!--Button to create a new value field -->
<%= button_to "New Value", new_valuefield_path, :method => :get %><br /><br /><br />
<!--Properties Index Page - uses application.html.erb for template. -->
<h1>Listing Values</h1>
<div class="main_div">
 <!--if length > 0 print field values -->
<%if(@all_valuefields.length > 0)    %>
    <table>
        <tr>
            <th align="left">Value</th>
            <th align="left">Property</th>
            <th align="left">Actions</th>
        </tr>
        <%= print_value_fields.html_safe %>
<%else%>
        <tr><td><h4>No Values Available</h4></td></tr>
<%end%>
</table>
  </div>
<br class="clear" />