

/* use a semi-transparent image for the overlay */
#overlay {
    background-image:url(http://static.flowplayer.org/img/overlay/white.png);

    height:500px;

}

/* container for external content. uses vertical scrollbar, if needed */
div.contentWrap {
    height:490px;
    h-align:center;
    v-align:center;
    overflow-y:auto;
}


/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(../img/overlay/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:640px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(../img/overlay/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
    height:25px;
    width:25px;
}
