.tab_main_div{
    padding: 20px;
    border-width:3px;
    border-spacing:2px;
    border-style:solid;
}

/* tab pane styling */


/* root element for tabs  */
div.tabs > ul {
	list-style:none;
	margin:0 !important;
	padding:0;
	border-bottom:1px solid #666;
	height:30px;
    //overflow:auto;
}

/* single tab */
div.tabs > ul > li {
	float:left;
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important;
}

/* link inside the tab. uses a background image */
div.tabs > ul > li > a {
	background: url(/assets/blue.png) no-repeat -420px 0;
	font-size:11px;
	display:block;
	height: 30px;
	line-height:30px;
	width: 134px;
	text-align:center;
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;
	position:relative;
	top:1px;
    font-weight: bold;
}

div.tabs > ul > a:active {
	outline:none;
}

div.tabs > div {
    border:1px solid #999;
    border-top:0;
    padding:0px;
    height:100%;
}

div.tabs > div > div{
    height:100%;

}

/* when mouse enters the tab move the background image */
div.tabs > ul > li > a:hover {
	background-position: -420px -31px;
	color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
div.tabs > ul > li > a.current, div.tabs > ul > li > a.current:hover, div.tabs > ul > li.current > a {
	background-position: -420px -62px;
	cursor:defadiv ult !important;
	color:#000 !important;
}

/* Different widths for tabs: use a class name: s, l, xl */


/* width 1 */
div.tabs > ul > li >  a.s 			{ background-position: -553px 0; width:81px; }
div.tabs > ul > li >  a.s:hover 	{ background-position: -553px -31px; }
div.tabs > ul > li >  a.s.current  { background-position: -553px -62px; }

/* width 2 */
div.tabs > ul > li >  a.l 			{ background-position: -247px -0px; width:174px; }
div.tabs > ul > li >  a.l:hover 	{ background-position: -247px -31px; }
div.tabs > ul > li >  a.l.current  { background-position: -247px -62px; }


/* width 3 */
div.tabs > ul > li >  a.xl 			{ background-position: 0 -0px; width:248px; }
div.tabs > ul > li >  a.xl:hover 	{ background-position: 0 -31px; }

div.tabs > ul > li >  a.xl.current { background-position: 0 -62px; }


/*Tabs 2 */
div.tabs2{
    //height:500px;
    padding:5px;
    display: inline-block;
    width: 99%;
    //overflow:hidden;
}
div.tabs2 > ul{
    float:left;
    list-style:none;
    position: relative;
    padding-left:0px;
    margin:0;
    width:140px;
    //position:fixed;

}

div.tabs2 > ul > li{
    display: block;
    width:165;
    height: relative;
    color: #73736b;

}

/*div.tabs2 > ul > li:last-child{
    display: block;
    width:165;
    height: 100%;
    color: #73736b;
    border-right:1px solid #666;

} */
div.tabs2 > ul > li:last-child > a{
    background: url(/assets/blue_side.png) no-repeat -422px 0;
	font-size:11px;
	display:block;
	height: 30px;
	line-height:30px;
	width: 132px;
	text-align:center;
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;
	position:relative;
    float:right;

}

div.tabs2 > ul > li > a{
    background: url(/assets/blue_side.png) no-repeat -422px 0;
	font-size:11px;
	display:block;
	height: 30px;
	line-height:30px;
	width: 132px;
	text-align:center;
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;
	position:relative;
    border-right:1px solid #666;
    float:right;
    font-weight: bold;
}


div.tabs2 > div {
    //border-top:1px solid #999;
    //border-left:0;
    float:right;
    height:100%;
    //overflow-y:scroll;
}

div.tabs2 > div > div{
padding:5px 5px;
}


/* when mouse enters the tab move the background image */
div.tabs2 > ul > li > a:hover {
	background-position: -422px -31px;
	color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
div.tabs2 > ul > li > a.current, div.tabs2 > ul > li > a.current:hover, div.tabs2 > ul > li.current > a {
	background-position: -422px -62px;
	cursor:defadiv ult !important;
	color:#000 !important;
    border-right: 1px solid transparent;
    font-weight: bold;
}

/* Different widths for tabs2: use a class name: s, l, xl */


/* width 1 */
div.tabs2 > ul > li >  a.s 			{ background-position: -553px 0; width:81px; }
div.tabs2 > ul > li >  a.s:hover 	{ background-position: -553px -31px; }
div.tabs2 > ul > li >  a.s.current  { background-position: -553px -62px; }

/* width 2 */
div.tabs2 > ul > li >  a.l 			{ background-position: -247px -0px; width:174px; }
div.tabs2 > ul > li >  a.l:hover 	{ background-position: -247px -31px; }
div.tabs2 > ul > li >  a.l.current  { background-position: -247px -62px; }


/* width 3 */
div.tabs2 > ul > li >  a.xl 			{ background-position: 0 -0px; width:248px; }
div.tabs2 > ul > li >  a.xl:hover 	{ background-position: 0 -31px; }

div.tabs2 > ul > li >  a.xl.current { background-position: 0 -62px; }


