<h1>Editing Category</h1>
<table>
  <tr>
    <td>
      <%= button_to "Show Category", {:action => "show", :id => @category.id }, :method => :get %>
    </td>
  </tr>
</table>
<%= render 'form' %>



