<h1>Listing Categories</h1>
<%= button_to "New Category", new_category_path, :method => :get %>
<%print_categories(0,-1)%>
<table title="Current Categories">
   <%if(@s.length == 0)%>
    <tr><td><h4>No Categories Available</h4></td></tr>
   <%else%>
    <tr><th colspan="2"><h4>Current Categories</h4></th></tr>
    <tr>
        <th align="left">Name</th>
        <th colspan="3" >Actions</th>
    </tr>
    <%= @s.html_safe %>
   <%end%>
</table>
<br class="clear" />
<%= button_to "Back to Main Menu", "/", :method => :get %>
