<h1>Listing categories</h1>
<%print_categories(0,-1)%>
 <%if(@s.length == 0)%>
      <br/> No Categories Available
      <%else%>
<table>
  <tr>
    <th align="left">Name</th>
    <th colspan="3">Actions</th>
  </tr>
  <%= @s.html_safe %>
</table>
              <%end%>

<p />
<br class="clear" />
<%= button_to "New Category", new_category_path, :method => :get %>
<%= button_to "Back to Main Menu", "/", :method => :get %>
