<!--Categories Index Page - uses application.html.erb for template. -->
<%= button_to "New Category", new_category_path, :method => :get %><br /><br /><br />
<h1>Listing Categories</h1>
<!-- Call to function to print all categories in the database - function/method found in categories_helper.rb-->
<%s = print_categories(0,-1)%>
<div class="main_div">
<table>
  <!--Validation check to see if the string is empty or not. -->
   <%if(s.length == 0)%>
    <tr><td><h4>No Categories Available</h4></td></tr>
   <%else%>
    <tr>
        <th align="left">Name</th>
        <th colspan="3" >Actions</th>
    </tr>
    <%= s.html_safe %>
   <%end%>
</table>
  </div>
<br class="clear" />

