<h1>Listing categories</h1>
<%print_categories(0,-1)%>
 <%if(@s.length == 0)%>
      <br/> No Categories Available
      <%else%>
<table>
  <tr>
    <!--<th>ID</th>-->
    <!--<th>Parent</th>       </-->
    <th align="left">Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


   <%= @s.html_safe %>
</table>
              <%end%>

<p />

<%= button_to "New Category", new_category_path, :method => :get %>
<br />
<%= button_to "Back to Main Menu", "/", :method => :get %>
