<!--Categories Index Page -->
<%= button_to "New Category", new_category_path, :method => :get %><br /><br /><br />
<h1>Listing Categories</h1>

<div class="main_div">
  <table class="sortable" id="sortabletable">
    <!--Validation check to see if the string is empty or not. -->
        <tr>
          <th align="left">Name</th>
          <th colspan="3" >Actions</th>
        </tr>
        <!-- Call to function to print all categories in the database - function/method found in categories_helper.rb-->
        <%= print_categories(0,-1).html_safe %>
  </table>
</div>
<br class="clear" />

