<h1>Editing product</h1>

<%= render 'form' %>
<table>
  <tr>
    <td>
       <%= button_to "Show", {:action => "show", :id => @product.id }, :method => :get %>
    </td>
    <td>
       <%= button_to "Back", products_path, :method => :get %>
    </td>
  </tr>
</table>