<h1>Listing products</h1>

<table>
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% print_products %>
  <%= @sp.html_safe %>
  <%build_products%>
</table>

<br />

<%= button_to "New Product", new_product_path, :method => :get %>
<br />
<%= button_to "Back to Main Menu", "/", :method => :get %>
