<!--Products Index Page - uses application.html.erb for template. -->
<%= button_to "New #{@product_alias}", new_product_path, :method => :get %> <br /><br /><br />
<h1>Listing <%= @product_alias %></h1>
<!--Button to create a new product -->
 <!--if length > 0 print groups -->
<div class="main_div">
<%if(!@all_products.empty?)    %>
    <table title="Current Products">
        <tr>
            <th align="left">Name</th>
            <th align="left">Description</th>
            <th align="left">Code</th>
            <th align="left">Actions</th>
            <!--th align="left">Grouped Components</th-->
        </tr>
        <%= print_products.html_safe %>
<%else%>
        <tr><td><h4>No <%= @product_alias %> Available</h4></td></tr>
<%end%>
</table>
  </div>
<br class="clear" />