<h1 class="tight_h1">Image: Show</h1>
<div>
<table class="tight_table main_table">
  <tr>
    <th align="left">Image</th>
    <th align="left">Image Name</th>
  </tr>
  <tr>
    <td valign="top"><%= image_tag(image.picture.url(:small)) %></td>
    <td><%=image.picture_file_name%></td>
  </tr>
</table>
</div>