<h1>Listing Images</h1>
<!--Button to create a new Image -->
<%= button_to "New Image", new_image_path, :method => :get %>

<table title="Current Images">
  <tr><th colspan="5"><h4>Current Images</h4></th></tr>
  <%if(!@all_images.empty?)    %>
      <tr>
        <th align="left">Image</th>
        <th align="left">Product image belongs to</th>
        <th align="left">Component image belongs to</th>
        <th align="left">Valuefield image belongs to</th>
        <th align="left">Actions</th>
      </tr>
      <% print_images.html_safe %>
  <%else%>
      <tr><td><h4>No Images Available</h4></td></tr>
  <%end%>
</table>
<br class="clear" />